:root {
  --grid-square-width: 25px;
  --grid-square-height: 25px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.title {
  margin: 2rem;
}

.grid-row {
  height: var(--grid-square-height);
  margin-bottom: -1px;
}
.grid-square {
  width: var(--grid-square-width);
  height: var(--grid-square-height);
  border: 1px solid black;
  display: inline-block;
  margin-left: -1px;
  margin-top: -1px;
}

.blue {
  background-color: blue;
}
