:root {
  --grid-square-width: 25px;
  --grid-square-height: 25px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: #0a0a0a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.container--buttons {
  display: flex;
  gap: 2rem;
}

.title {
  margin: 2rem;
}

.grid {
  width: 960px;
  height: 960px;
  margin-bottom: 2rem;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}

.grid-row {
  min-height: 1px;
  /* margin-bottom: -1px; */
  display: flex;
  flex: 1 1 auto;
  /* border: 1px solid black; */
}
.grid-square {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: -1px;
  margin-right: -1px;
  flex: 1 1 auto;
}

.blue {
  background-color: blue;
}

.button {
  padding: 0.5rem 3rem;
  border-radius: 20px;
  background-color: purple;
  border: 2px solid purple;
  color: white;
}
